    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-right" class="small-12 columns credits">
            {% for link in site.data.footer_links %}
              <a href="{{ link.url }}" target="_blank" class="{{ link.class }}" title="{{ link.title }}">{{ link.title }}</a>
            {% endfor %}
          </section>
          <section id="subfooter__copyright">
            <p>&copy; Copyright</p>
          </section>
          <section id="subfooter-left" class="small-12 columns credits">
            {{ site.credits }}
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
