<div class="partners" data-equalizer>
  {% for partner in site.data._partners %}
    <div class="partners__item" data-equalizer-watch>
      <div class="partners__upper--helper"></div>
      <div class="partners__upper">
        <h2 class="partners__name"><a href="{{ partner.url }}">{{ partner.name }}</a></h2>
        <div class="partners__logo">
          <img src="{{ site.url }}{{ site.baseurl }}/images/{{ partner.logo }}" alt="{{ partner.name }}">
        </div>
      </div>
      <div class="partners__bottom">
        <p class="partners__text">{{ partner.description | markdownify }}</p>
        <div class="partners__link">
          <a href="{{ partner.url }}">Visit website</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>