


{% for pilot in site.pilots %}
  <div class="row">
    <div class="small-12 columns b20">
      <p class="subheadline">{{ pilot.categories | join: ' &middot; ' | prepend: '<span class="subheader">' | append: '</span>' }}{% if pilot.categories != empty and pilot.subheadline != NULL %} – {% endif %}{{ pilot.subheadline }}</p>
      <h2><a href="{{ site.url }}{{ pilot.url }}">{{ pilot.title }}</a></h2>
      <p>
        {% if pilot.thumb %}<a href="{{ site.url }}{{ pilot.url }}" title="{{ pilot.title escape_once }}"><img src="{{ site.urlimg }}{{ pilot.thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title escape_once }}"></a>{% endif %}

        {% if pilot.meta_description %}{{ pilot.meta_description | strip_html | escape }}{% elsif pilot.teaser %}{{ pilot.teaser | strip_html | escape }}{% endif %}

        <a href="{{ site.url }}{{ pilot.url }}" title="{{ site.data.language.read }} {{ pilot.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
      </p>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->
{% endfor %}


<!-- <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a rel="prev" class="radius button small" href="{{ site.url }}/blog/" title="{{ site.data.language.previous_pilots }}">&laquo; {{ site.data.language.previous_pilots }}</a>
      {% else %}
      <a rel="prev" class="radius button small" href="{{ site.url }}/blog/page{{ paginator.previous_page }}/" title="{{ site.data.language.previous_pilots }}">&laquo; {{ site.data.language.previous }}</a>
      {% endif %}
    {% endif %}

    <a class="radius button small" href="{{ site.url }}/blog/archive/" title="{{ site.data.language.blog_archive }}">{{ site.data.language.blog_archive }}</a>

    {% if paginator.next_page %}
    <a rel="next" class="radius button small" href="{{ site.url }}/blog/page{{ paginator.next_page }}/" title="{{ site.data.language.next_pilots }}">{{ site.data.language.next }} &raquo;</a>
    {% endif %}
  </nav> -->

