<aside>
	<div class="panel radius">
		<h3>Other items</h3>
		<p>
                    {% if page.sidebar-text %}
                        {{ page.sidebar-text | markdownify }}
                    {% else %}
                        Welcome to the VisIt blog.
                    {% endif %}
		</p>
	</div>

        {% if page.sidebar-image %}
            {% if page.sidebar-image | slice: 1,4 contains "http"}
                <img class="b30" src="{{ page.sidebar-image }}" width="300" height="auto" alt="">
            {% else %}
                <img class="b30" src="{{ site.url }}{{ site.base_url }}/images/{{ page.sidebar-image }}" width="300" height="auto" alt="">
            {% endif %}
        {% endif %}
</aside>
