<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style_feeling_responsive.min.css">	
	<script src="{{ site.url }}/assets/js/modernizr.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700%7cVolkhov:400,700' rel='stylesheet' type='text/css'>
{% if site.google_site_verification %}
	<meta name="google-site-verification" content="{{ site.google_site_verification}}" />
{% endif %}
{% if site.google_author %}
	<link rel="author" href="{{ site.google_author }}"/>
{% endif %}
{% if site.favicon %}
	<link rel="shortcut icon" href="{{ site.favicon }}" type="image/png" />
	<link rel="icon" href="{{ site.favicon }}" type="image/png" />
{% endif %}
</head>