<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style_feeling_responsive.min.css">	
	<script src="{{ site.url }}/assets/js/modernizr.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic%7cVolkhov:400,700' rel='stylesheet' type='text/css'>
	{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
	{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />{% endif %}
	{% if page.meta_description %}<meta name="description" content="{{ page.meta_description | strip_html | escape }}"/>{% elsif page.description %}<meta name="description" content="{{ page.description | strip_html | escape }}"/>{% elsif site.description %}<meta name="description" content="{{ site.description | strip_html | escape }}"/>{% endif %}
	
	{% if site.google_author %}<link rel="author" href="{{ site.google_author }}"/>{% endif %}
	{% if site.favicon %}<link rel="shortcut icon" href="{{ site.url }}{{ site.favicon }}" type="image/png" />{% endif %}
	{% if site.favicon %}<link rel="icon" href="{{ site.url }}{{ site.favicon }}" type="image/png" />{% endif %}
	{% if site.apple_touch_icon_iphone %}<link rel="apple-touch-icon" href="{{ site.url }}{{ site.apple_touch_icon_iphone }}">{% endif %}
	{% if site.apple_touch_icon_iphone_retina %}<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}{{ site.apple_touch_icon_iphone_retina }}">{% endif %}
	{% if site.apple_touch_icon_ipad %}<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ site.apple_touch_icon_ipad }}">{% endif %}
	{% if site.apple_touch_icon_ipad_retina %}<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ site.apple_touch_icon_ipad_retina }}">{% endif %}
	{% if site.apple_touch_icon_precomposed %}<link rel="apple-touch-icon-precomposed" href="{{ site.url }}{{ site.apple_touch_icon_precomposed }}">{% endif %}

	<!-- Facebook Optimization -->
	<meta property="og:locale" content="{% if site.og_locale == nil %}en_EN{% else %}{{ site.og_locale }}{% endif %}" />
	{% if site.og_type %}<meta property="og:type" content="website" />{% endif %}
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	{% if page.meta_description %}<meta property="og:description" content="{{ page.meta_description | strip_html | escape }}"/>{% elsif page.description %}<meta property="og:description" content="{{ page.description | strip_html | escape }}"/>{% elsif site.description %}<meta property="og:description" content="{{ site.description | strip_html | escape }}"/>{% endif %}
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	{% if site.title %}<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	{% if page.image.thumb %}<meta property="og:image" content="{{ site.url }}/assets/img/{{ page.image.thumb }}" />{% endif %}

	{% if site.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ site.alexa_verify_id }}" />{% endif %}
</head>