{% if page.image.header == NULL %}

	<div id="masthead-no-image-header">
		<div class="row">
			<div class="small-12 columns">
				<a id="logo" href="{{ site.url }}" title="{{ site.title }}">
					<img src="{{ site.url }}/assets/img/{{ site.logo }}" alt="{{ site.title }}">
				</a>
	 		</div><!-- /.small-12.columns -->
		</div><!-- /.row -->
	</div><!-- /#masthead -->

{% else %}

	<div id="masthead">
		<div class="row">
			<div class="small-12 columns">
				<a id="logo" href="{{ site.url }}" title="{{ site.title }}">
					<img src="{{ site.url }}/assets/img/{{ site.logo }}" alt="{{ site.title }}">
				</a>
	 		</div><!-- /.small-12.columns -->
		</div><!-- /.row -->
	</div><!-- /#masthead -->

{% endif %}
