
// 34. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-top-bar-classes: $include-html-classes;

// Background color for the top bar
$topbar-bg-color: #fff;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: rem-calc(50);
// $topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
$topbar-title-weight: $font-weight-bold;
$topbar-title-font-size: rem-calc(19);

// Style the top bar dropdown elements
// $topbar-dropdown-bg: $ci-1;
// $topbar-dropdown-link-color: $text-color;
// $topbar-dropdown-link-bg: $ci-2;
// $topbar-dropdown-link-weight: $font-weight-normal;
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: $ci-2;
// $topbar-dropdown-toggle-alpha: 0.4;

// Set the link colors and styles for top-level nav
// $topbar-link-color: #000;
// $topbar-link-color-hover: #fff;
// $topbar-link-color-active: $ci-1;
// $topbar-link-color-active-hover: #fff;
// $topbar-link-weight: 400;
// $topbar-link-font-size: rem-calc(17);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
// $topbar-link-bg: $topbar-bg;
// $topbar-link-bg-color-hover: #fff;
// $topbar-link-bg-hover: $ci-1;
// $topbar-link-bg-active: #fff;
// // $topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
// $topbar-link-font-family: $header-font-family;
// $topbar-link-text-transform: uppercase;
// $topbar-link-padding: $topbar-height / 2;
// $topbar-back-link-size: $h5-font-size;
// $topbar-link-dropdown-padding: 20px;

// $topbar-button-font-size: 0.75rem;
// $topbar-button-top: 7px;

// $topbar-dropdown-label-color: #f77;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: $font-weight-bold;
// $topbar-dropdown-label-font-size: rem-calc(10);
// $topbar-dropdown-label-bg: $oil;

// Top menu icon styles
$topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: rem-calc(13);
// $topbar-menu-link-weight: $font-weight-bold;
// $topbar-menu-link-color: #fff;
// $topbar-menu-icon-color: #fff;
// $topbar-menu-link-color-toggled: $ci-1;
// $topbar-menu-icon-color-toggled: $ci-1;

// Transitions and breakpoint styles
// $topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
$topbar-breakpoint: #{lower-bound($large-range)}; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})" !default;

// Divider Styles
$topbar-divider-border-bottom: solid 0px scale-color($topbar-bg-color, $lightness: 23%);
$topbar-divider-border-top: solid 0px scale-color($topbar-bg-color, $lightness: -50%);
