// This is the default html and body font-size for the base rem value.
$base-font-size: 16px;
$rem-base: $base-font-size;

// Allows the use of rem-calc() or lower-bound() in your settings
@import "foundation/functions";



/* Modular Scale ---------------------- 

2:3 perfect fifth

44px @ 1:1.5	 
16px @ 1:1.5

DIESE IST DIE AKTUELLE 

44.000	1	2.75	338.462
36.000	0.818	2.25	276.923
29.333	0.667	1.833	225.638
24.000	0.545	1.5	184.615
19.555	0.444	1.222	150.423
16.000	0.364	1	123.077

--------------------------------*/

$font-size-h1: rem-calc(44);
$font-size-h2: rem-calc(36);
$font-size-h3: rem-calc(29);
$font-size-h4: rem-calc(24);
$font-size-h5: rem-calc(19);
$font-size-p: rem-calc(16);
