body.video,
body.video #masthead-no-image-header { background: #000; }
body.video #masthead-no-image-header { margin-bottom: 60px; }
body.video h1,
body.video h2,
body.video h3,
body.video h4,
body.video h5,
body.video h6,
body.video p,
body.video a,
body.video blockquote:before,
body.video blockquote:after,
body.video cite a, { color: #fff; }
body.video cite a:visited, { color: #fff; }
body.video cite { color: #fff; }




#navigation {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}
#search {
	padding: 20px 0 0 0;
	background: $ci-4;
}

#breadcrumb {
	background: scale-color($grey-1, $lightness: 55%);
 	border-top: 1px solid scale-color($grey-1, $lightness: 45%);
	border-bottom: 1px solid scale-color($grey-1, $lightness: 45%);
}

/* - - - MASTHEAD - - - - - - - - - - - - - - - - - - - - - - */

#title-image-small { height: 240px; }
#title-image-large { height: 520px; }
#title-image-index-small { height: 120px; }
#title-image-index-large { height: 260px; }


#masthead { height: 190px; }
#logo img { margin-top: 30px; }
#masthead-no-image-header { height: 120px; background: $primary-color; }
#masthead-with-pattern { padding: 30px 0; }
#masthead-with-background-color { padding: 30px 0; }

/* Masthead auf medium-up Geräten */
@media only screen and (min-width: 40.063em) {
	#logo img { margin-top: 80px; }
	#masthead { height: 320px; }
	#masthead-no-image-header { height: 175px; background: $primary-color; }
	#masthead-no-image-header #logo img { margin-top: 45px; }
}

#page-meta {
	color: $grey-5;
}

#page-meta .button {
	background: $grey-5;
}
#page-meta .button:hover {
	background: $primary-color;
}



/* - - - FOOTER - - - - - - - - - - - - - - - - - - - - - - */

#up-to-top a.entypo:hover { background: $grey-2; border-radius: 3px;}
#up-to-top { padding: 160px 0 10px 0; }


#footer {
	padding-top: 30px;
	padding-bottom: 20px;
	background: $footer-bg;
	color: $footer-color;
	}
	footer p,
	footer li {
		font-size: rem-calc(13);
		font-weight: 300;
	}

	#footer a { color: $ci-6; }
	#footer a.entypo:hover { background: $ci-2; border-radius: 3px;}
	
	#footer h4,
	#footer h5 {
		letter-spacing: 1px;
		color: #fff;
		text-transform: uppercase;
	}
	#footer p.entypo {
		font-size: 80px;
		line-height: 54px;
		text-align: center;
		padding: 0;
		margin: 0;
	}

#subfooter {
	background: $subfooter-bg;
	color: $subfooter-color;
	padding-top: 30px;
	padding-bottom: 10px;
}
	#subfooter-left ul.inline-list {
		float: left;
	}
	#subfooter .entypo-social,
	#subfooter .entypo {
		font-size: 48px;
		line-height: 36px;
		color: $subfooter-color;
	}

	#subfooter li a {
		color: $subfooter-color;
		text-transform: uppercase;
	}

	#subfooter li a:hover {
		color: #fff;
	}

	#subfooter .social-icons li a {
		display: block;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		color: $subfooter-bg;
		background: $subfooter-color;
		text-align: center;
		vertical-align: center;
	}

	#subfooter .social-icons li a:hover {
		background: $subfooter-bg;
		color: #fff;
	}

.ad-space {
	border: 1px solid scale-color($grey-1, $lightness: 80%);
	text-align: center;
	padding: 15px 0;
	margin-bottom: rem-calc(20);
}

/*

CSS-Classes to add margin at the top or bottom

*/

.t15 		{ margin-top: 15px; }
.t20 		{ margin-top: 20px; }
.t30 		{ margin-top: 30px; }
.t50 		{ margin-top: 50px; }
.t60 		{ margin-top: 60px; }
.t90 		{ margin-top: 90px; }

.b15 		{ margin-bottom: 15px; }
.b20 		{ margin-bottom: 20px; }
.b30 		{ margin-bottom: 30px; }
.b60 		{ margin-bottom: 60px; }

.pl20		{ padding-left: 20px; }

.pr5		{ padding-right: 5px; }
.pr10		{ padding-right: 10px; }
.pr20		{ padding-right: 20px; }