.ad-panel {
	border: 1px solid $grey-2;
	text-align: center;
	padding: 15px;
}
.ad-panel p {
	padding: 0;
	margin: 0;
}

.alert-box { font-family: $header-font-family; text-shadow: 0px 1px 1px rgba(0,0,0,0.9); }
	.alert-box.terminal { background: $grey-16; color: #fff; border-color: scale-color($grey-16, $lightness: $alert-function-factor);
}
	.alert-box p { margin-bottom: 0; } 
	.alert-box a {
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
		color: #fff;
		border-bottom: 1px dotted #fff;
	}
	.alert-box a:hover {
		border-bottom: 1px solid #fff;
	}

button, .button 				{ letter-spacing: 1px; }
	button.grey, .button.grey	{ background: $grey-10; }
	button.grey:hover,
	button.grey:focus,
	.button.grey:hover,
	.button.grey:focus 			{ background-color: $grey-16; }


.shadow-no 		{text-shadow: rgba(0, 0, 0, 0) 0 0 0;}
.shadow-black 	{text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;}
.shadow-white 	{text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 2px;}


.side-nav li.title { text-transform: uppercase;}
.side-nav li { border-top: 1px solid $grey-3;}
.side-nav li a:not(.button) { padding: 0.4375rem 0rem; }
.side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus { background: #eee; }

.homepage p { margin: 0; padding: 0; color: $grey-10; }
.caption a { border-bottom: 1px dotted $grey-4; color: $grey-10; font-size: rem-calc(13); }


.meta-info p {
	font-size: rem-calc(13);
	color: scale-color($grey-1, $lightness: 40%);
}
	.meta-info a {
		text-decoration: underline;
		color: scale-color($grey-1, $lightness: 40%);
	}
	.meta-info a:hover {
		text-decoration: none;
		color: $secondary-color;
	}


#logo-monochrome {
	background: url(../img/phlow-logo-monochrome-100x36.png) no-repeat;
	height: 36px;
	width: 100px;
	padding: 0;
	margin: 0;
	line-height: 0;
	text-indent: -9999px;
	display: block;
	float: left;
}
