
/* Syntax highlighting styles
/* Colors see color_settings
/* ----------------------------------------------------------*/

.highlight  { background: $highlight-background; padding-bottom: 20px; }
.highlight .c { color: $highlight-comment; font-style: italic } /* Comment */
.highlight .err { color: $highlight-error; background-color: $highlight-error-background;  } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: $highlight-comment; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $highlight-comment-special; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: $highlight-comment; font-style: italic } /* Comment.Single */
.highlight .cs { color: $highlight-comment-special; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: $highlight-deleted; background-color: $highlight-generic-deleted; } /* Generic.Deleted */
.highlight .gd .x { color: $highlight-deleted; background-color: $highlight-generic-deleted-specific;} /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $highlight-error-2; } /* Generic.Error */
.highlight .gh { color: $highlight-comment-special } /* Generic.Heading */
.highlight .gi { color: $highlight-deleted; background-color: $highlight-generic-inserted; } /* Generic.Inserted */
.highlight .gi .x { color: $highlight-deleted; background-color: $highlight-generic-inserted-specific; } /* Generic.Inserted.Specific */
.highlight .go { color: $highlight-generic-output; } /* Generic.Output */
.highlight .gp { color: $highlight-generic-prompt; } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $highlight-subheading;} /* Generic.Subheading */
.highlight .gt { color: $highlight-error-2; } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $highlight-keyword-type; font-weight: bold } /* Keyword.Type */
.highlight .m { color: $highlight-literal-number; } /* Literal.Number */
.highlight .s { color: $highlight-literal-string; } /* Literal.String */
.highlight .na { color: $highlight-name-attribut; } /* Name.Attribute */
.highlight .nb { color: $highlight-name-builtin; } /* Name.Builtin */
.highlight .nc { color: $highlight-name-class; font-weight: bold } /* Name.Class */
.highlight .no { color: $highlight-name-attribut; } /* Name.Constant */
.highlight .ni { color: $highlight-name-entity; } /* Name.Entity */
.highlight .ne { color: $highlight-name-exception; font-weight: bold } /* Name.Exception */
.highlight .nf { color: $highlight-name-function; font-weight: bold } /* Name.Function */
.highlight .nn { color: $highlight-name-namespace; } /* Name.Namespace */
.highlight .nt { color: $highlight-name-tag; } /* Name.Tag */
.highlight .nv { color: $highlight-name-attribut; } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: $highlight-text-whitespace; } /* Text.Whitespace */
.highlight .mf { color: $highlight-literal-number; } /* Literal.Number.Float */
.highlight .mh { color: $highlight-literal-number; } /* Literal.Number.Hex */
.highlight .mi { color: $highlight-literal-number; } /* Literal.Number.Integer */
.highlight .mo { color: $highlight-literal-number; } /* Literal.Number.Oct */
.highlight .sb { color: $highlight-literal-string; } /* Literal.String.Backtick */
.highlight .sc { color: $highlight-literal-string; } /* Literal.String.Char */
.highlight .sd { color: $highlight-literal-string; } /* Literal.String.Doc */
.highlight .s2 { color: $highlight-literal-string; } /* Literal.String.Double */
.highlight .se { color: $highlight-literal-string; } /* Literal.String.Escape */
.highlight .sh { color: $highlight-literal-string; } /* Literal.String.Heredoc */
.highlight .si { color: $highlight-literal-string; } /* Literal.String.Interpol */
.highlight .sx { color: $highlight-literal-string; } /* Literal.String.Other */
.highlight .sr { color: $highlight-literal-string-regex; } /* Literal.String.Regex */
.highlight .s1 { color: $highlight-literal-string; } /* Literal.String.Single */
.highlight .ss { color: $highlight-literal-string-symbol; } /* Literal.String.Symbol */
.highlight .bp { color: $highlight-comment-special } /* Name.Builtin.Pseudo */
.highlight .vc { color: $highlight-name-attribut; } /* Name.Variable.Class */
.highlight .vg { color: $highlight-name-attribut; } /* Name.Variable.Global */
.highlight .vi { color: $highlight-name-attribut; } /* Name.Variable.Instance */
.highlight .il { color: $highlight-literal-number; } /* Literal.Number.Integer.Long */
