---
layout: page
---
<br><figure><img src="{{ site.urlimg }}{{ page.image }}"></figure>

{{ page.content }}

{%- if page.mediaelement -%}
<video src="../../images/{{ page.image | replace: ".jpg", ".mpeg" }}" style="width:100%;height:100%;" width="100%" height="100%" class="mejs__player" data-mejsoptions='{"alwaysShowControls": "true"}'></video>
{%- endif -%}

{%- if page.image_credits or page.data_credits or page.compute_credits -%}
<table>
    <caption><b>Credits</b></caption>
    {% if page.image_credits %}
    <tr><td><b>Image</b></td><td>Image(s) courtesy of {{ page.image_credits | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</td></tr>
    {% endif %}
    {% if page.data_credits %}
    <tr><td><b>Data</b></td><td>Data courtesy of {{ page.data_credits | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</td></tr>
    {% endif %}
    {% if page.compute_credits %}
    <tr><td><b>Compute</b></td><td>Compute resources courtesy of {{ page.compute_credits | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</td></tr>
    {% endif %}
</table>
{%- endif -%}

{% include next-previous-post-in-collection back_to_top="/examples/" %}
