---
layout: default
format: post
---
<div class="row t30">
	{% if page.sidebar == "left" %}
	<div class="medium-4 columns">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	<div class="medium-8 columns{% if page.sidebar == "" %} medium-offset-2 end{% endif %}">
		<article>
			<header>
				{% if page.image.title %}<img src="{{ site.url }}/images/{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}">{% endif %}
				{% if page.image.url && page.image.credit %}
				<p class="text-right caption">
					<a href="{{ page.image.url }}">{{ page.image.credit }}</a>
				</p>
				{% endif %}

				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>


			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}

			{% if page.show_metadata == true %}
			{% include meta_information.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
