---
layout: default
---
{% if page.image.title %}
<div class="row top-30">
	<div class="small-12 columns">
		<img src="{{ site.url }}/assets/img/{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}">
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row top-30">
	<div class="medium-12 columns">

		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.description %}
				<p class="teaser">
					{{ page.description }}
				</p>
			{% endif %}
						
			{{ content }}
		</article>

	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->


