---
layout: default
---
<div class="row top-60">
	<div class="medium-4 columns">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->


	<div class="medium-8 columns">
		<article>
			<header>
				{% if page.subtitle %}<p class="subtitle">{{ page.subtitle }}</p>{% endif %}
				{% if page.image_title %}<img src="{{ site.url }}/assets/img/{{ page.image_title }}" width="970" alt="{{ page.title escape_once }}">{% endif %}
				<h1>{{ page.title }}</h1>
			</header>
			{% if page.description %}
				<p class="teaser">
					{{ page.description }}
				</p>
			{% endif %}
			
			{{ content }}

			<div class="page-meta">
				<ul class="side-nav">
					<li class="subheader">Date: {{ page.date | date: "%d.%m.%Y" }}</li>
					<li class="subheader">{% if page.categories %}Archived in {{ page.categories | join: ' · ' | upcase }}{% endif %}</li>
					<li class="divider"></li>
				</ul>

			</div>
		</article>
	</div><!-- /.medium-8.columns -->
</div><!-- /.row -->

